html, body {
   height: 100%;
}

body {
   /*font-size: 14px; */
   /*font-family: 'Microsoft YaHei', '微软雅黑';*/
   /*padding-top: 60px;*/
}

#footer{
   background-color: #F5F5F5;
}

#push,#footer{
   height:60px;
}

.container .credit{
   margin:20px 0;
}

.float-r{
   float:right;
}


#wrap {
   height: auto !important;
   margin: 0 auto -60px;
   min-height: 100%;
}

#wrap .content{
   padding-top:60px;
}

/*tips related*/
.tips-error{
}
