{% load i18n  %}
<!DOCTYPE html>
<html lang="zh-cn">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link href="{{ STATIC_URL }}css/widget/bootstrap.css" rel="stylesheet" media="screen">
      <link href="{{ STATIC_URL  }}css/basic/base.css" rel="stylesheet" type="text/css"/>

      {% block css %}{% endblock %}

      <!--<link rel="SHORTCUT ICON" href="{{ STATIC_URL }}images/favicon.ico" />-->
      <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
      <meta name="keywords" content="{{ meta_keywords }}" />
      <meta name="description" content="{{ meta_description }}" />
   </head>

   <body>
      <header id="" class="navbar navbar-inverse navbar-fixed-top">

      <nav class="navbar-inner">

      <div class="container">
         <a href="/" class="brand">{% trans "175Game' Canteen" %}</a>
         <div class="nav-collapse collapse">
            <ul class="nav">
               <li class=""><a href="{% url foods.views.index %}">{% trans "today menu"  %}</a></li>

               <li class=""><a href="{% url order.views.list_order %}">{% trans "order list"  %}</a></li>

               {% if user.is_authenticated %}
               <li class="">
                  <a href='{%  url my_account %}' id="username">{{ user.username  }}</a>
               </li>

               <li> 
               <a href="{% url django.contrib.auth.views.logout %}">{% trans "logout"  %}</a>
               </li>
               {% else %}
               <li>
               <a href="{% url register %}">{% trans "register"  %}</a>
               </li>

               <li>
               <a href="{% url django.contrib.auth.views.login %}">{% trans "login"  %}</a>
               {% endif %}
            </ul>
         </div>
      </div>
      </nav>

      </header>
      <div id="wrap">

         <div class="container content"> 


            <!--body-->
            {% block content %}{% endblock %}

            <!--footer-->
         </div> <!-- end of wrapper div-->
      </div>
      <footer id="footer" class="">
      <div class="container">
         <p class="muted credit float-r">created by zhkzyth,inspired by todomvc+canku+Django_Ecomerce</p>
      </div>
      </footer>
      <!--js-->
      {% block script %}{% endblock %}
   </body>
</html>

