{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "tags/offertime_type_link.html"  %}
<table class="table table-striped {% if not order_list %} empty {% endif %}" summary="Today order list" id="order_list">

   <caption>{% trans 'today order list'  %}</caption>
   <thead>
      <tr>
         <th>#</th>
         <th>{% trans 'name'  %}</th>
         <th>{% trans 'order type'  %}</th>
         <th>{% trans 'time'  %}</th>
      </tr>
   </thead>
   <tbody>
      {% for order in order_list %}
      <tr>
         <td>{{ forloop.counter }}</td>
         <td>{{ order.user.username }}</td>
         <td>{{ order.menu.offer_type.name }}</td>
         <td>{{ order.date|date:"H:s a" }}</td>
      </tr>
      {% empty %}
      <tr>
         <td colspan="4" >
            <span class="muted">{% trans 'no one has orderd' %}</span>
         </td>
      </tr>
      {% endfor %}


   </tbody>
</table>
{% endblock %}


{% block  css %}
<link href="{{ STATIC_URL  }}css/page/order.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block script %}

<!--<script type="text/javascript" data-main="{{ STATIC_URL  }}js/page/order.js" src="{{ STATIC_URL }}js/lib/require/require.js"></script>-->

{% endblock %}
